@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300;600&family=Sofia+Sans+Condensed:wght@200;400;600&display=swap");
@font-face {
  font-family: "Qualy";
  src: url("/Qualy Bold.ttf");
}
:root {
  font-family: "Sofia Sans Condensed", sans-serif;
  /* font-family: 'Phudu', cursive; */
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
